/* CSS Reset from https://alligator.io/css/minimal-css-reset/ */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

/* Actual CSS from here */

body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        180deg,
        #eaeaea,
        #fafafa
    );
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
        180deg,
        #c4000f,
        #e60012
    );
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

#header-img-container {
    margin-left: 80px;
}

img {
    height: 50px;
    margin-top: 15px;
}

#nav-bar {
    margin-right: 80px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.nav-a-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.nav-link {
    color: white;
    text-decoration: none;
}

main {
    margin: 0 80px;
    padding-top: 100px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-container {
    margin-top: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div#video-container p {
    align-self: flex-end;
    font-size: 0.75em;
}

#products-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 60%;
}

.product {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 3px;
    border: grey solid 1px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px grey;
}

.product h2 {
    font-weight: 900;
}

.product img {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}

.product p {
    margin: 15px 0;
}

#form-container {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container p {
    margin-bottom: 30px;
}

@media (max-width: 550px) {
    
}